html,
body {
  background: #212226;
  color: #fff;
  font-family: 'Ubuntu Condensed';
  margin: 0;
}
.dashboard:not(.habbo__disabled) {
  background: #1e1e20;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.habbo__input {
  font-family: 'Ubuntu Condensed';
  border-radius: 4px;
  box-shadow: 0 1px 0 #828181 inset;
}
.habbo__outline {
  -webkit-filter: drop-shadow(0 1px 0 #fff) drop-shadow(0 -1px 0 #fff) drop-shadow(1px 0 0 #fff) drop-shadow(-1px 0 0 #fff) drop-shadow(0 0 10px rgba(0,0,0,0));
}
.habbo__wallet:not(.habbo__disabled) {
  height: 50px;
}
.habbo__wallet:not(.habbo__disabled) .uk-navbar-center {
  background: #1c1d21;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.habbo__wallet:not(.habbo__disabled) .uk-navbar-nav > li > a {
  font-family: 'Ubuntu Condensed';
  font-weight: 800;
}
.habbo__button__action {
  background: #111214;
  border-radius: 5px;
}
.habbo__information {
  width: 15vw;
  right: 0.5vw;
  bottom: 85px;
  border-radius: 4px;
  position: absolute;
  background: #1c1d1f;
  color: #fff;
}
.habbo__information h6 {
  color: #fff;
  font-weight: 500;
}
.habbo__information .uk-card-header {
  padding: 10px 25px;
  border-bottom: 3px solid #191a1c;
}
.habbo__information .uk-card-body {
  padding: 20px 25px;
}
.habbo__information .uk-card-footer {
  padding: 10px 25px;
  border-top: 3px solid #191a1c;
}
